*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.slide-container{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  

}
.slide-content{
   margin: 0 40px; 
}
.card{
    border-radius: 25px;
    background-color: #403F3F;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20%;
    border: 4px solid #595959;
}

